version: 1.0.{build}

environment:
  nodejs_version: "8"

# Install scripts. (runs after repo cloning)
install:
  # install the latest stable version of Node.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm install

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  - npm test

build: off
