on: [ pull_request ]

name: Test Coverage

jobs:

  coverage:
    name: Codecov
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@master
      name: Checkout haraka-config
      with:
        fetch-depth: 1

    - name: Use Node.js 12
      uses: actions/setup-node@master
      with:
        version: 12.x

    - name: Install
      run: npm install

    - name: Test
      run: |
        npm install nyc codecov
        npm run cover

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}